@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <h2>Runtime info</h2>
        <ul>
            <li>Application host <code> @ViewData["host"];</code></li>
            <li>Runtime Version <code>@ViewData["Framework"]</code></li>
            <li>Running on  <code>@ViewData["OS"]</code></li>
            <li>Arhitecture  <code>@ViewData["ARCH"]</code></li>
        </ul>

        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
</div>
